<p
  class="bg-gray-100 rounded-sm inline-block px-2 py-4"
  *ngIf="cartItems.length === 0"
>
  Your cart is empty..
</p>
<div *ngIf="cartItems.length > 0">
  <div *ngFor="let item of cartItems" class="flex justify-between inline-block pr-8 text-sm bg-orange-100 px-4 py-1 rounded-md">
    <p>{{item.name}} </p> <span>x</span> <p>{{item.quantity}}</p> : <p>{{item.price}}</p>
  </div>
  <div class="px-4 py-2 inline-block bg-orange-400 rounded mt-2 cursor-pointer">
    <p>Proceed Total : <span>{{cartTotal}}</span></p>
  </div>
</div>